{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Categories</title>
</head>
<style>
    body {
        background: url("{% static 'images/patientlogin.png' %}") center/cover fixed;
        font-family: Arial, sans-serif;
    }

    .category-card {
        background: rgba(255, 255, 255, 0.9);
        padding: 20px;
        border-radius: 10px;
        margin: 15px;
    }
</style>
<body>
   
<h1>Medical Categories</h1>

{% for category in categories %}
    <div>
        <h2>
            <a href="{% url 'category_doctors' category.id %}">
        {{ category.name }}
    </a>
        </h2>
        <p>{{ category.description }}</p>
    </div>
{% empty %}
    <p>No categories available.</p>
{% endfor %}

</body>
</html>