{% load static %}
<!DOCTYPE html>
<html>
<head>
    <style>
    body {
        background: url("{% static 'images/patientlogin.png' %}") center/cover fixed;
        font-family: Arial, sans-serif;
    }

    .category-card {
        background: rgba(255, 255, 255, 0.9);
        padding: 20px;
        border-radius: 10px;
        margin: 15px;
    }
</style>
    <title>Verify OTP</title>
</head>
<body>
    <h2>Verify OTP</h2>

    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}

    <form method="POST">
        {% csrf_token %}
        <label>Enter OTP:</label>
        <input type="text" name="otp" maxlength="6"
               pattern="[0-9]{6}" required>
        <button type="submit">Verify OTP</button>
    </form>
</body>
</html>